div{
    display: flex;
    align-content:center;
    flex-direction: row;
    background-color: rgba(110, 0, 253, 0.326);
   flex-wrap: wrap;
    width:95%;
    height: 100%;
    border: solid rgba(168, 101, 231, 0.877);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-right:10px;
    justify-content: space-around;
 
}
p {
    display: flex;
    margin: 5px;
   font-size: 225%;
    align-items:center;
}
.p{
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    
}
img{
    width: 15%;
    display: flex;
    float: left;
    margin: 25px;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(34, 23, 37);
}

#logo{
    width: 100vw;
    height: auto

}

button{
background: powderblue;
  font-family: 'Russo One', sans-serif;
}
select{
    margin: 10px
}
@media (max-width: 600px) {
    #logo{
        width: 100%;
        height: auto;
    }
    body {
       flex-direction: column;
       padding: 0;
       text-align: center;

    }
   p{
    overflow-wrap: break-word;
    font-size: 100%;
  }
  img{
      width:25%;
  }
  .p{
      display: flex;
      overflow: wrap;
  }
}